
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<h2>The collected country name is @ViewBag.CollectedCountry</h2>*@

    <h2>My friend name is @ViewBag.MyFriendName</h2>
    <br />
    <br />
</body>
</html>
