
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteData</title>
</head>
<body>
    <h2>This is to delete data</h2>
</body>
</html>
