<p style="background-color:bisque">
    This is an additional paragraph from partial view.<br />
    This is an additional paragraph from partial view.<br />
    This is an additional paragraph from partial view.<br />
</p>