
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MySecondPage</title>
    <link href="~/css/mycustomstyle.css" rel="stylesheet" rel="stylesheet" />

</head>
<body>
    <br />
    <br />
    <p class="MyLinkedParagraph">
        This is an example paragraph. This is an example paragraph. <br />
        This is an example paragraph. This is an example paragraph. <br />
        This is an example paragraph. This is an example paragraph.
    </p>
    <br />
    <p class="MyLinkedParagraph">
        This is an example paragraph. This is an example paragraph. <br />
        This is an example paragraph. This is an example paragraph. <br />
        This is an example paragraph. This is an example paragraph.
    </p>
</body>
</html>
