
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>The collected country name is @ViewBag.CollectedCountry</h2>
    <br /><br />
    @Html.ActionLink("Click to visit 3rd controller", "Index", "MyThird")
</body>
</html>
