
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_MyProjectLayout.cshtml";
}

<h1>AboutUs</h1>
<br />
<div>
    @Html.Partial("_MyPartialView")
</div>
<br />

<h2>This is About us view</h2>
<br />
<h2>This is About us view</h2>
<br />
<h2>This is About us view</h2>
<br />
