
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_MyProjectLayout.cshtml";
}

<h1>ContactUs</h1>
<br />
<div>
    @Html.Partial("_MyPartialView")
</div>
<br />

<h2>This is Contact us view</h2>
<br />
<h2>This is Contact us view</h2>
<br />
<h2>This is Contact us view</h2>
<br />

