
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyProjectLayout.cshtml";
}

<h1>Index</h1>

<h2>This is Index view</h2>
<br />
<h2>This is Index view</h2>
<br />
<h2>This is Index view</h2>
<br />
<div>
    @Html.Partial("_MyPartialView")
</div>
