
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>My name is @ViewData["MyName"] </h2>
    <br /><br />
    <h2>My City ID is @ViewBag.CityID </h2>
</body>
</html>
