
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using(Html.BeginForm())
        {
            <p>User ID :</p> @Html.TextBox("uid")
            <br />
            <p>Password :</p> @Html.TextBox("pwd")
            <br />
            <input type="submit" value="Login" id="btnLogin" name="btnLogin"/>
        }
</div>
</body>
</html>
