@model MVCCore_Basic_Architecture.Models.StudentResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyLoginPage</title>
</head>
<body>

<h4>StudentResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MyLoginPage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Roll" class="control-label"></label>
                @*<input asp-for="Roll" class="form-control" />*@
                @Html.EditorFor(m=> m.Roll)
                <span asp-validation-for="Roll" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marks" class="control-label"></label>
                @*<input asp-for="Marks" class="form-control" />*@
                @Html.EditorFor(m=> m.Marks)
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
               @* <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPass" /> @Html.DisplayNameFor(model => model.IsPass)
                </label>*@
                <p>Is Pass</p>
                @Html.EditorFor(m=> m.IsPass)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
